# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env

# VS Code settings
.vscode/

# Streamlit cache
.streamlit/

# Log files
*.log

# Sample resumes or PDF data
*.pdf
data/

# macOS system files
.DS_Store
